<p>login-usuario works!</p>
<!-- acá tenemos que construir el formulario con ¿bootstrap? -->

<div class="container justify-content-center" style="width: 60%">
<form>
    <div class="my-5 mx-5">

      <label for="exampleInputEmail1" class="form-label">Email o usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>

    <div class="my-5 mx-5">

      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">

    </div>

    <div class="mx-5 my-5 form-check">

      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordarme</label>

    </div>

    <button type="submit" class="btn btn-primary mx-5">Ingresar</button>

  </form>
</div>