<app-foto-banner></app-foto-banner>
<div class="container-sm d-flex mb-4 me-5 justify-content-between">
    <div class="row">
        <div class="col-sm-4">
          <!-- <img class="img-thumbnail fotoPersonal" src="file:///D:/USUARIO/Desktop/otros/3.jpg" alt="fotoPersonal" style="height: 200px;">
          <br> -->
          <ul class="list-unstyled" style="font-size: large;">
              <li>Rocío Bogado</li>
              <li>Full Stack Developer Jr.</li> 
          </ul>
      </div> 

        <div class="col-sm-7"><h1 style="font-size: xx-large;">acerca de mí</h1>
          <h2 style="font-size: large;">hola! mi nombre es Rocío Bogado, soy una joven estudiante universitaria de la ciudad
              de Rosario, Santa Fe. Además de mis estudios académicos, desde que estoy en la escuela secundaria
          me interesa la programación asi que decidí capacitarme para trabajar como programadora (...) </h2>
      </div>
  </div>

  

