<br>
 <!-- habilidades blandas y duras -->


 <h1 style="text-align: center;" id="habTitulo" (click) = toggle()>
    <a routerLink="/habilidades" routerLinkActive="active current">habilidades</a></h1>

 <!-- <div class="container d-flex justify-content-center" style="align-items: center;">
      <div class="row" id="skills" >
      <div class="col-4">

          <figure class="figure">
              <img src="file:///D:/USUARIO/Desktop/Argentina%20Programa%202021-22/html5logo.png" class="figure-img img-fluid" alt="HTML5Logo"
              width="230px" height="290px"
              >
              <figcaption class="figure-caption" style="text-align: center;">HTML5</figcaption>
          </figure>
      </div>
      <div class="col-4">
          <figure class="figure" style="margin-left: 20px;">
              <img src="file:///D:/USUARIO/Downloads/pixlr-bg-result%20(4).png" class="figure-img img-fluid" alt="CSSLogo"
              width="200px" height="200px">
              <figcaption class="figure-caption" style="text-align: center;">CSS3</figcaption>
          </figure>


      </div>
      <div class="col-4">
          <figure class="figure">
              <img src="file:///D:/USUARIO/Desktop/Argentina%20Programa%202021-22/jslogo.png" class="figure-img img-fluid"
              width="220px" height="200px">
              <figcaption class="figure-caption" style="text-align: center;">JavaScript</figcaption>
          </figure>
      </div>
  
  </div>
  </div> -->

 
  
  <div class="container-sm my-5 pe-5 ps-5" id="barrasHabi" *ngIf = "!visible" @fade>
      <h1>HTML5  
          <img src="./assets/html5logo.png" class="figure-img img-fluid" alt="HTML5Logo"
              width="50px" height="50px">
           </h1>

      <div class="progress" style="height:20px; width: auto;">
          <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" style="width:70%;height:20px">70%</div>
        </div><br>
  

  <h1>CSS3
      <img src="./assets/pixlr-bg-result (4).png" class="figure-img img-fluid" alt="CSSLogo"
      width="50px" height="50px">
  </h1>
  <div class="progress" style="height:20px; width: auto;">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%;height:20px">70%</div>
    </div><br>

    <h1>JavaScript
      <img src="./assets/jslogo.png" class="figure-img img-fluid"
      width="52px" height="50px">
    </h1>
    <div class="progress" style="height:20px; width: auto;">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:70%;height:20px">70%</div>
      </div>


  </div>

  

  
